@charset "UTF-8";

/* 
    Paleta de Cores 
    Verde:#00D615
    Azul:#2F7ADE
*/
:root{
    --Verde: #00D615;
    --Azul: #2F7ADE;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: var(--Azul);
}   
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 60%;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: width 1s, height 1s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    background: #2F7ADE url(../imagens/fundo.jpg) no-repeat;
    background-size: cover;
    height: 200px;

}
section#login > div#formulario{
    text-align: justify;
    align-items: center;
    padding: 10px 10px;
}
section#login > div#formulario > h1{
    text-align: center;
    font-size: 1.5em;
}
section#login > div#formulario p{
    text-align: center;
    font-size: 0.9em;
    padding: 10px;
}
form{
    margin: auto;
    width: 80%;
}
.linha{
    border: 1px solid blueviolet;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
    background-color: blueviolet;
    width: 100%;
}
.textbox{
    border-radius: 5px;
}
input[type=email]:focus, input[type=password]:focus {
    background-color: lightblue;
  }

input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 1px;
    margin: 2px;
    text-decoration: none;
    cursor: pointer;
    height: 35px;
  }

#butaoenviar:hover{
    background-color: #36da9e;
    color: rgba(0, 0, 0, 0.699);
}

#butaorecuperar{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #04AA6D;
    width: 100%;
}
#butaorecuperar:hover{
    background-color: gray;
    color: white;
}

input#iemail.textbox, input#isenha.textbox{
    border: 1px solid blueviolet;
    padding: 5px;
    width: 100%;
}

input[type=button], input[type=submit], input[type=reset] {
    width: 100%;width: 100%;
}
@media only screen and (max-width: 1180px){
    section#login > div#formulario > h1{
        
        font-size: 1.4em;
    }
    section#login > div#formulario p{
        
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 580px){
    section#login > div#formulario > h1{
        
        font-size: 1.3em;
    }
    section#login > div#formulario p{
        
        font-size: 0.7em;
    }
}
@media only screen and (max-width: 510px){
    section#login > div#formulario > h1{
        padding: 5px;
        font-size: 1.2em;
    }
    section#login > div#formulario p{
        padding: 5px;
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 480px) {
    main{
        font-size: 1em;
    }
    section#login{
        display: flex;
        width: 90%;
        height: 57%;
    }
    section#login >div#formulario{
        width: 70%;
        height: 100%;
        
    }
    section#login > div#imagem{ 
        width: 45%;
        height: 100%;
        background: url(/imagens/fundo.jpg) no-repeat center;
        background-size: cover;
        
    }
    .linha{
        width: 100%;
        margin: 4px;
        padding: 5px;
    }
    input#iemail.textbox, input#isenha.textbox{
        width: 100%;
    }

    input[type=button], input[type=submit], input[type=reset] {
        width: 100%;
    }

    #butaorecuperar{
        width: 100%;
    }
}


